.image{
    height: 260px;
    margin-left: 28px;
    margin-top: 10px;
  
}

.writer{
    color: #7D7D7D;
}
.home-card{
    border: 1px solid lightgrey;
   box-shadow: 5px 5px 5px 10px gray;
   border-radius: 15px;
    width: 380px;
    float: left;
    
    height: 475px;
    padding: 8px;
    margin-left: 55px;
    margin-top: 40px;
}
.namediv{
    text-align: left;
    margin-left: 60px;
}


.imageDiv{
    margin-top: 8px;
    background-color: #F1F1F1;
    width: 280px;
    margin-left: 40px;
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
    height: 300px;
    
}
.button{
    border: 1px solid black;
 margin-left: 110px;
 margin-top: 15px;
  width: 140px;
   height: 45px;
   border-radius: 8px;
   background-color: #6946F4;
   color: white;
   font-weight: bold;
}
.btndiv{
   
   display: flex ;
}
.dollar{
    margin: 15px;
    font-size: 26px;
    color: #6946F4;
    font-weight: bold;
}