/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #FFFFFF;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: blueviolet;
  }

  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid blueviolet;
  }
  .table-div{
    width: 95%;
  }
  .t-head{
    border-bottom: 0;
    outline: 0;
    background-color: aqua;
  }
  .table{
    width: 570px;
    height: 250px;
    padding: 5px;
    border-radius: 15px;
  }
  .t-body{
  
   
    
  }
  .table-last{
 
  }
