.admin-container{
    display: flex;

}
.sidebar{
    background-color: blueviolet;
    height: 100vh;
    width: 30%;
    padding: 35px;
    color: white;
    font-size: 40px;

}
.right{
    padding: 35px;
    background-color: lightblue;
    width: 100vw;
}
.icon{
    font-size: 75px;
    display: flex;
    color: white;
    padding: 5px;
    background-color: gray;
    cursor: pointer;
    
}
.icon-name{
    margin-left: 5px;
    color: white;
}
.icon-name:hover{
    color: goldenrod;
}